h1 {
  color: #0c0b87;
  text-align: center;
  font-family: Permanent Marker;
  font-size: 37px;
}
.card {
  border: 1px solid #bbbfc5;
  padding: 18px;
  margin: 25px auto;
  border-radius: 10px;
  max-width: 600px;
  background: white;
}
.card-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.float-left {
  font-size: 44px;
  position: relative;
  left: 7px;
  font-family: Lobster;
}

.units {
  position: relative;
  top: -34px;
  font-size: 20px;
}
.search-form {
  margin-bottom: 20px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  font-weight: 500;
  margin-bottom: 5px;
  color: #5b5b5b;
  font-size: 19px;
  line-height: 20px;
  list-style: none;
  font-family: Ubuntu;
}
.humi {
  position: relative;
  left: 200px;
}
.win {
  position: relative;
  left: 200px;
}
footer {
  position: relative;
  right: -89px;
}
body {
  background: #EEF1FF;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #333030;
}
.weather-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
